.gallery {
    display: flex;
    padding: 2px;
    transition: 0.3s;
}
.gallery:hover .gallery__image {
filter: grayscale(1);
}
.gallery__column {
display: flex;
flex-direction: column;
width: 25%;
}
.gallery__link {
margin: 2px;
overflow: hidden;
}
.gallery__link:hover .gallery__image {
filter: grayscale(0);
}
.gallery__link:hover .gallery__caption {
opacity: 1;
}
.gallery__thumb {
position: relative;
}
.gallery__image {
display: block;
width: 100%;
transition: 0.3s;
}
.gallery__image:hover {
transform: scale(1.1);
}
.gallery__caption {
position: absolute;
bottom: 0;
left: 0;
padding: 25px 15px 15px;
width: 100%;
font-family: 'Raleway', sans-serif;
font-size: 16px;
color: white;
opacity: 0;
background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(255, 255, 255, 0) 100%);
transition: 0.3s;
}

@media (max-width: 750px) {
   
    /* .work_gallery {
        margin-top: 50rem !important;
    } */
    .gallery {
        display: flex;
        flex-direction: column;
    }

    .gallery__column{
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    } 
}

/* @media (max-width: 500px) {
   

  .work_gallery {
      margin-top: 56rem !important;
  }
  
} */









.testimonials-clean {
  color:#313437;
  background-color:#eef4f7;
}

.testimonials-clean p {
  color:#7d8285;
}

.testimonials-clean h2 {
  font-weight:bold;
  margin-bottom:40px;
  padding-top:40px;
  color:inherit;
}

@media (max-width:767px) {
  .testimonials-clean h2 {
    margin-bottom:25px;
    padding-top:25px;
    font-size:24px;
  }
}

.testimonials-clean .intro {
  font-size:16px;
  max-width:500px;
  margin:0 auto;
}

.testimonials-clean .intro p {
  margin-bottom:0;
}

.testimonials-clean .people {
  padding:50px 0 20px;
}

.testimonials-clean .item {
  margin-bottom:32px;
}

@media (min-width:768px) {
  .testimonials-clean .item {
    height:220px;
  }
}

.testimonials-clean .item .box {
  padding:30px;
  background-color:#fff;
  position:relative;
}

.testimonials-clean .item .box:after {
  content:'';
  position:absolute;
  left:30px;
  bottom:-24px;
  width:0;
  height:0;
  border:15px solid transparent;
  border-width:12px 15px;
  border-top-color:#fff;
}

.testimonials-clean .item .author {
  margin-top:28px;
  padding-left:25px;
}

.testimonials-clean .item .name {
  font-weight:bold;
  margin-bottom:2px;
  color:inherit;
}

.testimonials-clean .item .title {
  font-size:13px;
  color:#9da9ae;
}

.testimonials-clean .item .description {
  font-size:15px;
  margin-bottom:0;
}

.testimonials-clean .item img {
  max-width:40px;
  float:left;
  margin-right:12px;
  margin-top:-5px;
}

